.container {
  position: relative;
  height: 95%;
  width: 8%;

}

.windowBackDrop {
  top: 20%;
  height: 50%;
  margin-left: 15%;
  width: 60%;

  position: absolute;
}

.windowImg {
  top: 10%;
  position: absolute;
  height: 75%;
  width: 95%;
}
.character {
  position: absolute;
  top: 20%;
  height: 80%;
  width: 90%;
  /* -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; */
}
.light {
  background-color: yellow;
}

.dark {
  background-color: navy;
}
.animated {
  transition-property: background-color;
  transition-duration: 10s;
}
.coffeeImg {
  position: absolute;
  z-index: 20;
  top: 60%;
  left: 24%;
}
.spin {
  -webkit-animation: spin 1000ms infinite ease-in-out;
  animation: spin 1000ms infinite ease-in-out;
  animation-iteration-count: 5;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
