.container {
  position: relative;
  /* height: 62%;  */
  height: 95%;
  width: 8%;
  /* transition: all 30s; */
}

.windowBackDrop {
  top: 20%;
  height: 50%;
  margin-left: 15%;
  width: 60%;

  position: absolute;
}

.windowImg {
  top: 10%;
  position: absolute;
  height: 75%;
  width: 95%;
}
.character {
  position: absolute;
  top: 20%;
  height: 80%;
  width: 90%;
  /* -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; */
}
.light {
  background-color: yellow;
}

.dark {
  background-color: navy;
}
.animated {
  transition-property: background-color;
  transition-duration: 10s;
}
