.footer {
  background-color: dimgray;
  height: 100%;
}

.score {
  font-size: small;
  text-align: right;
  padding-right: 1vw;
  color: palegoldenrod;
}

.signature {
  color: lightyellow;
  text-align: center;
  font-size: x-small;
  padding-top: 1vh;
}
