.questions {
  padding-top: 2vh;
  color: palegoldenrod;
  font-size: x-large;
  margin-left: 1%;
  margin-right: 1%;
  /* width: 300px; */
  flex: 1 1 10%;
  text-align: center;
  border: black 2px solid;
}
